#print {
  text-align: left;
}

h1 {
  text-align: center;
}
#dishonor {
  display: none;
}
#winning{
  display: none;
}
/*#toppings{
  display: none;
}
#size{
  display: none;*/
}
li {
  float: center;
}
